%h1 Alojamientos
= smart_listing_controls_for(:alojamientos, {class: "form-inline text-right"}) do
  .form-group.filter.input-append
    = text_field_tag :filter, '', class: "search form-control",
                          placeholder: "buscar...", autocomplete: :off
    = select_tag :category, "<option>Hotel</option><option>Hostal</option><option>Apartamento</option><option>Apartahotel</option>".html_safe ,
                          :prompt=>"Todos" ,
                          class: "search form-control",
                          autocomplete: :off
    = text_field_tag :ciudad, '', class: "search form-control",
                          placeholder: "ciudad...", autocomplete: :off

= smart_listing_render :alojamientos
