.row#pin_show
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image
        = image_tag @alojamiento.pic.image.url
      .panel-body
        %h1= @alojamiento.title
        %p
          %h3
            %strong= @alojamiento.cat
          .description= @alojamiento.desc
          El
          %strong precio
          es
          %strong= @alojamiento.price
          euros
          y estará en
          %strong= @alojamiento.city
          en
          %strong= @alojamiento.dir
          y la fecha de ida es
          %strong= @alojamiento.fecha_ir.strftime('%d %b %Y %l:%M %p')
          y la vuelta es en
          %strong= @alojamiento.fecha_volver.strftime('%d %b %Y %l:%M %p')
      .panel-footer
        .row
          .col-md-6
            %p.user
              submited by
              %strong= @alojamiento.user.email
          .col-md-6
            %div{class: "btn-group pull-right alojamiento_#{@alojamiento.id}"}
              = render 'alojamientos/like', alojamiento: @alojamiento

%div{class: "comment_alojamiento_#{@alojamiento.id}"}
  = render partial: 'comments/comments' , locals: { commentable: @alojamiento }
%div{class: "form_alojamiento_#{@alojamiento.id}"}
  = render partial: 'comments/form' , locals: { commentable: @alojamiento }
