= simple_form_for @transport  , html: {multipart: true} do |f|
  - if @transport.errors.any?
    #errors
      %h2
      = plurize(@transport.errors.count , "error")
      prevented this accion from saving
      %ul
        - @transport.errors.full_messages.each  do |msg|
          %li= msg

  .form-group
    = f.simple_fields_for :pics , @pic do |pi|
      = pi.input :image , as: :file , input_html: {class: "form-control"}
  .form-group
    = f.input :cat , collection: ["Avion" , "Bus" , "Tren"] , input_html: {class: "form-control"} , label: "Billete De"
  .form-group
    = f.input :title , input_html: {class: "form-control"}, placeholder: "Escribe un título" , label: "Título"
  .form-group
    = f.input :desc , input_html: {class: "form-control"} , label: "Descripción"
  .form-group
    = f.input :from_city , input_html: {class: "form-control"} , label: "Desde"
  .form-group
    = f.input :to_city , input_html: {class: "form-control"} , label: "A"
  .form-group
    = f.input :fecha , input_html: {class: "form-control"} , label: "Fecha y Hora"
  .form-group
    = f.input :price , input_html: {class: "form-control"} , label: "Precio"

  = f.button :submit , class: "btn btn-primary"
