- unless smart_listing.empty?
  .table-responsive
    %table.table.table-striped
      %thead
        %th.col-md-2= smart_listing.sortable "Título", :title
        %th.col-md-2= smart_listing.sortable "Categoria", :cat
        %th.col-md-2= smart_listing.sortable "Precio", :price
        %th.col-md-2= smart_listing.sortable "Origen", :from_city
        %th.col-md-2= smart_listing.sortable "Destino", :to_city
        %th.col-md-2= smart_listing.sortable "Fecha", :fecha

      %tbody
        - smart_listing.collection.each do |transport|
          %tr
            -# User row goes here...
            %td
              = link_to transport  do
                = truncate(transport.title, length: 25)
                %span.badge= transport.comments.count
            %td= transport.cat
            %td
              = transport.price
              €
            %td= transport.from_city
            %td= transport.to_city
            %td= transport.fecha.strftime('%d %b %Y %l:%M %p')


  -# Render nice pagination links fitted for Bootstrap 3 by default
  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
- else
  %p.warning Ningún Transporte!
