.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1 Editar Transporte 
      .panel-body
        = image_tag @transport.pic.image.url(:medium)
        = simple_form_for @transport  , html: {multipart: true} do |f|
          - if @transport.errors.any?
            #errors
              %h2
              = pluralize(@transport.errors.count , "error")
              prevented this accion from saving
              %ul
                - @transport.errors.full_messages.each  do |msg|
                  %li= msg


          .form-group
            = f.simple_fields_for :pic , @pic do |pi|
              = pi.input :image , as: :file , input_html: {class: "form-control"} , label: "Imagen" , hint: "Seleciona la imagen de tu billete"
          .form-group
            = f.input :cat , collection: ["Avión" , "Bus" , "Tren"] , input_html: {class: "form-control"} , label: "Billete De" , hint: "Elige la categoria del viaje" , required: true
          .form-group
            = f.input :title , input_html: {class: "form-control"}, placeholder: "Escribe un título" , label: "Título" , required: true
          .form-group
            = f.input :desc , input_html: {class: "form-control"} , label: "Descripción" , placeholder: "Explica las condiciones de tu oferta " , required: true
          .form-group
            = f.input :from_city , input_html: {class: "form-control geo" } , label: "Origen" , placeholder: "Indica la ciudad de salida", required: true
          .form-group
            = f.input :to_city , input_html: {class: "form-control geo"} , label: "Destino" , placeholder: "Indica la ciudad  de llegada", required: true
          .form-group
            = f.input :fecha , input_html: {class: "form-control"} , label: "Fecha y Hora" , hint: "Indica la fecha y la hora de salida", required: true
          .form-group
            = f.input :price , input_html: {class: "form-control"} , label: "Precio" , placeholder: "Escribe el precio que debe ser igual o inferior al precio real del billete", required: true


          = f.button :submit ,"Actualizar", class: "btn btn-primary"
