%h1 Transportes
= smart_listing_controls_for(:transports, {class: "form-inline "}) do
  .form-group.filter.input-append
    = text_field_tag :filter, '', class: "search form-control",
                          placeholder: "Search...", autocomplete: :off
    = text_field_tag :category, '', class: "search form-control",
                          placeholder: "categoria...", autocomplete: :off
    = text_field_tag :fciudad, '', class: "search form-control",
                          placeholder: "origen...", autocomplete: :off
    = text_field_tag :tciudad, '', class: "search form-control",
                          placeholder: "destino...", autocomplete: :off
  %button.btn.btn-primary.disabled{type: :submit}
    %span.glyphicon.glyphicon-search
= smart_listing_render :transports
