.row#pin_show
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image
        = image_tag @transport.pic.image.url , class: "img-rounded"
      .panel-body
        %h1= @transport.title
        %p
          %h3
            %strong= @transport.cat
          .description= @transport.desc
          %strong= @transport.price
          euros
          desde
          %strong= @transport.from_city
          a
          %strong= @transport.to_city
          en fecha:
          %strong= @transport.fecha.strftime('%d %b %Y %l:%M %p')
      .panel-footer
        .row
          .col-md-6
            %p.user
              subido por
              %strong= @transport.user.email
          .col-md-6
            %div{class: "btn-group pull-right transport_#{@transport.id}"}
              = render 'transports/like', transport: @transport


%div{class: "comment_transport_#{@transport.id}"}
  = render partial: 'comments/comments' , locals: { commentable: @transport }
%div{class: "form_transport_#{@transport.id}"}
  = render partial: 'comments/form' , locals: { commentable: @transport }
