.row#pin_show
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image
        = image_tag @transport.pic.image.url
      .panel-body
        %h1= @transport.title
        %p.description
          %h3
            %strong= @transport.cat
          = @transport.desc
          %strong= @transport.price
          euros
          desde
          %strong= @transport.from_city
          a
          %strong= @transport.to_city
          en fecha:
          %strong= @transport.fecha
        %p
          submited by
          %strong= @transport.user.email
      .panel-footer
        .row
          .col-md-6
            %p.user
              submited by
              %strong= @transport.user.email
          .col-md-6
            %div{class: "btn-group pull-right transport_#{@transport.id}"}
              = render 'transports/like', transport: @transport


= render partial: 'comments/comments' , locals: { commentable: @transport }
= render partial: 'comments/form' , locals: { commentable: @transport }
