.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h2 Modificar el usuario
      .panel-body
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = f.error_notification
          .form-inputs
            = f.input :email, required: true, autofocus: true , label: "Correo"
            = if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %p
                Currently waiting confirmation for:
                = resource.unconfirmed_email
            = f.input :password, autocomplete: "off", hint: "Déjalo en blanco si no quieres cambiarlo", required: false , label: "Nueva contraseña"
            = f.input :password_confirmation, required: false , label: "Confirmación de contraseña"
            = f.input :current_password, hint: "Necesitamos tu contraseña actual para confirmar los cambios", required: true , label: "Contraseña actual"
          .form-actions
            = f.button :submit, "Actualizar" , class: "btn btn-primary"
      .panel-footer
        %h3 Cancelar la cuenta
        %p
          No contento?
          = link_to "Borrar mi cuenta", registration_path(resource_name) , data: { confirm: "Seguro?" }, method: :delete
