.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h2 Registrar
      .panel-body
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.error_notification
          .form-inputs
            = f.input :email, required: true, autofocus: true , label: "Correo"
            = f.input :password, required: true, label: "Contraseña",  hint: ("#{@minimum_password_length} caracteres minimum" if @minimum_password_length)
            = f.input :password_confirmation, required: true , label: "Confirmar las contraseña"
            = f.input :terms_and_conditions  , label: ("Acepto las #{link_to "condiciones de uso" , "/term"}.").html_safe  , as: :boolean
          .form-actions
            = f.button :submit, "Registrar" , class: "btn btn-primary"
      .panel-footer
        = render "devise/shared/links"
