.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h2 Sign up
      .panel-body
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.error_notification
          .form-inputs
            = f.input :email, required: true, autofocus: true
            = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
            = f.input :password_confirmation, required: true
            = f.input :terms_and_conditions  , label: "Aceptas las condiciones de uso Aceptas las condiciones de usoAceptas las condiciones de usoAceptas las condiciones de usoAceptas las condiciones de usoAceptas las condiciones de usoAceptas las condiciones de usoAceptas las condiciones de usoAceptas las condiciones de usoAceptas las condiciones de uso"  , as: :boolean
          .form-actions
            = f.button :submit, "Registrar" , class: "btn btn-primary"
        = render "devise/shared/links"
