- if comment.commentable_type == "Ocio"
  = link_to like_ocio_comment_path(commentable , comment) , method: :put  , remote: true ,class: "btn btn-success like-comment" do
    %span.glyphicon.glyphicon-thumbs-up
      = comment.get_upvotes.size
  = link_to dislike_ocio_comment_path(commentable , comment) , method: :put , remote: true  ,class: "btn btn-warning dislike-comment" do
    %span.glyphicon.glyphicon-thumbs-down
      = comment.get_downvotes.size
- elsif comment.commentable_type == "Alojamiento"
  = link_to like_alojamiento_comment_path(commentable , comment) , method: :put , remote:true   , class: "btn btn-success like-comment " do
    %span.glyphicon.glyphicon-thumbs-up
      = comment.get_upvotes.size
  = link_to dislike_alojamiento_comment_path(commentable , comment) , method: :put , remote:true  , class: "btn btn-warning dislike-comment " do
    %span.glyphicon.glyphicon-thumbs-down
      = comment.get_downvotes.size
- elsif comment.commentable_type == "Transport"
  = link_to like_transport_comment_path(commentable , comment) , method: :put , remote:true ,class: "btn btn-success like-comment" do
    %span.glyphicon.glyphicon-thumbs-up
      = comment.get_upvotes.size
  = link_to dislike_transport_comment_path(commentable , comment) , method: :put , remote:true , class: "btn btn-warning dislike-comment" do
    %span.glyphicon.glyphicon-thumbs-down
      = comment.get_downvotes.size
- elsif comment.commentable_type == "Perfil"
  = link_to like_perfil_comment_path(commentable , comment) , method: :put  , remote:true  , class: "btn btn-success like-comment " do
    %span.glyphicon.glyphicon-thumbs-up
      = comment.get_upvotes.size
  = link_to dislike_perfil_comment_path(commentable , comment) , method: :put  , remote:true , class: "btn btn-warning dislike-comment " do
    %span.glyphicon.glyphicon-thumbs-down
      = comment.get_downvotes.size
- if user_signed_in? && current_user.id == comment.user_id
  = link_to  [commentable , comment] , method: :delete , data: {confirm: "Are you sure?"}, class: 'btn btn-danger' do
    %span.glyphicon.glyphicon-trash
