.col-md-8.col-md-offset-2
  .panel.panel-default
    .panel-heading
      %h1= "Los Usuarios (#{User.count})"
    .panel-body
      .table-responsive
        %table.table.table-hover
          %thead
            %tr
              %th El Usuario
              %th Anun. Publicados
              %th El Perfil
            %tbody
              - @users.each do |user|
                %tr
                  %td= user.email
                  %td= render partial: "users/user_anunc" , locals: {user: user} if (user_posts user) > 0
                  %td= link_to "ver perfil" , user.perfil , class: "btn btn-info btn-sm" if user.perfil.present?

        %br
