.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-body
        .row
          .col-md-6
            .panel.panel-default
              .panel-body
                - if @perfil.pic.blank?
                  = image_tag ("desconocido.jpg") , class: " img-responsive"
                -else
                  = image_tag (@perfil.pic.image.url(:medium)) , class: " img-responsive"
          .col-md-6
            .panel.panel-default
              .panel-body
                %br

                %p.description

                  %strong Nombre:
                  - if @perfil.first_name.present?
                    = @perfil.first_name.capitalize
                  %br
                  %br
                  %strong Apellido:
                  - if @perfil.last_name.present?
                    = @perfil.last_name.capitalize
                  %br
                  %br
                  %strong Edad:
                  - if @perfil.age.present?
                    = @perfil.age
                  %br
                  %br
                  %strong sexo:
                  - if @perfil.gender.present?
                    = @perfil.gender
                  %br
                  %br
                  %strong Facebook:
                  - if @perfil.facebook_link.present?
                    = @perfil.facebook_link
                  %br
                  %br
                  %strong Twitter:
                  - if @perfil.twitter_link.present?
                    = @perfil.twitter_link
                  %br
                  %br

                  %strong Website:
                  - if @perfil.website_link.present?
                    = @perfil.website_link
                  %br


      .panel-footer
        .row
          .col-md-6
            %div{class: "pull-left perfil_#{@perfil.id}"}
              = render 'perfils/modal_misanuncios', perfil: @perfil

          .col-md-6
            %div{class: "btn-group pull-right perfil_#{@perfil.id}"}
              = render 'perfils/like', perfil: @perfil


%div{class: "comment_perfil_#{@perfil.id}"}
  = render partial: 'comments/comments' , locals: { commentable: @perfil }
%div{class: "form_perfil_#{@perfil.id}"}
  = render partial: 'comments/form' , locals: { commentable: @perfil }
