.row#pin_show
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image

        = image_tag (@perfil.pic.image.url)
      .panel-body
        %h1
          perfil de
          = current_user.email


        %p.description

          %strong Nombre:
          - if @perfil.first_name.present?
            = @perfil.first_name
          %br
          %strong Apellido:
          - if @perfil.last_name.present?
            = @perfil.last_name
          %br
          %strong Fecha de nacimiento:
          - if @perfil.birth_date.present?
            = @perfil.birth_date
          %br
          %strong Edad:
          - if @perfil.age.present?
            = @perfil.age
          %br
          %strong sexo:
          - if @perfil.gender.present?
            = @perfil.gender
          %br
          %strong Facebook:
          - if @perfil.facebook_link.present?
            = @perfil.facebook_link
          %br
          %strong Twitter:
          - if @perfil.twitter_link.present?
            = @perfil.twitter_link
          %br
          %strong Website:
          - if @perfil.website_link.present?
            = @perfil.website_link
          %br
        %p
      .panel-footer
        .row
          .col-md-6
            %p.user

          .col-md-6
            .btn-group.pull-right
              = link_to like_perfil_path(@perfil) , method: :put , class: "btn btn-info like" do
                %span.glyphicon.glyphicon-heart
                  = @perfil.get_upvotes.size
              -if user_signed_in? && current_user.id == @perfil.user_id
                = link_to  edit_perfil_path(current_user.perfil) , class: 'btn btn-warning' do
                  %span.glyphicon.glyphicon-pencil
                = link_to  @perfil , method: :delete , data: {confirm: "Are you sure?"}, class: 'btn btn-danger' do
                  %span.glyphicon.glyphicon-trash

= render partial: 'comments/comments' , locals: { commentable: @perfil }
= render partial: 'comments/form'     , locals: { commentable: @perfil }
