.row#pin_show
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image

        = image_tag (@perfil.pic.image.url)
      .panel-body
        %h1
          perfil de
          = current_user.email


        %p.description

          %strong Nombre:
          - if @perfil.first_name.present?
            = @perfil.first_name
          %br
          %strong Apellido:
          - if @perfil.last_name.present?
            = @perfil.last_name
          %br
          %strong Fecha de nacimiento:
          - if @perfil.birth_date.present?
            = @perfil.birth_date
          %br
          %strong Edad:
          - if @perfil.age.present?
            = @perfil.age
          %br
          %strong sexo:
          - if @perfil.gender.present?
            = @perfil.gender
          %br
          %strong Facebook:
          - if @perfil.facebook_link.present?
            = @perfil.facebook_link
          %br
          %strong Twitter:
          - if @perfil.twitter_link.present?
            = @perfil.twitter_link
          %br
          %strong Website:
          - if @perfil.website_link.present?
            = @perfil.website_link
          %br
        %p
      .panel-footer
        .row
          .col-md-6
            %p.user

          .col-md-6
            %div{class: "btn-group pull-right perfil_#{@perfil.id}"}
              = render 'perfils/like', perfil: @perfil


%div{class: "comment_perfil_#{@perfil.id}"}
  = render partial: 'comments/comments' , locals: { commentable: @perfil }
%div{class: "form_perfil_#{@perfil.id}"}
  = render partial: 'comments/form' , locals: { commentable: @perfil }
