.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1 Edit Ocio Form
      .panel-body
        = image_tag @ocio.pic.image.url(:medium)
        = simple_form_for @ocio , html: {multipart: true} do |f|
          - if @ocio.errors.any?
            #errors
              %h2
              = pluralize(@ocio.errors.count , "error")
              prevented this accion from saving
              %ul
                - @ocio.errors.full_messages.each  do |msg|
                  %li= msg

          .form-group
            = f.simple_fields_for :pic , @pic do |pic|
              = pic.input :image , as: :file , input_html: {class: "form-control"} , hint: "Seleccionar la foto del billete" , label: "Imagen"
          .form-group
            = f.input :cat , collection: ["Cine","Teatro","Concierto","Zoo","Museo","Estadio"] , input_html: {class: "form-control"} , label: "Billete De" , hint: "Elige el tipo de billete" , required: true
          .form-group
            = f.input :title , input_html: {class: "form-control"}, placeholder: "Escribe un título " , label: "Título" , placeholder: "Escribeun titulo de tu ocio" , required: true
          .form-group
            = f.input :desc , input_html: {class: "form-control"} , label: "Descripción" , placeholder: "Explica las condiciones de tu anuncio", required: true
          .form-group
            = f.input :city , input_html: {class: "form-control geo"}, placeholder: "Indica la ciudad donde se hace el evento" , label: "Ciudad"  , required: true
          .form-group
            = f.input :dir , input_html: {class: "form-control"} , label: "Dirección" , placeholder: "La dirección del evento", required: true
          .form-group
            = f.input :fecha , input_html: {class: "form-control"} , label: "Fecha y Hora" , hint: "La fecha y hora del evento", required: true
          .form-group
            = f.input :price , input_html: {class: "form-control"} , label: "Precio" , placeholder: "indica el precio del billete q debe ser igual o inferior del precio original", required: true

          = f.button :submit , class: "btn btn-primary"
m'
