%h1 Ocio
= smart_listing_controls_for(:ocios, {class: "form-inline text-right"}) do
  .form-group.filter.input-append
    = text_field_tag :filter, '', class: "search form-control",
                          placeholder: "buscar...", autocomplete: :off
    = select_tag :category, "<option>Cine</option><option>Teatro</option><option>Concierto</option><option>Zoo</option><option>Museo</option><option>Estadio</option>".html_safe ,
                          :prompt=>"Todos" ,
                          class: "search form-control",
                          placeholder: "category...", autocomplete: :off
    = text_field_tag :ciudad, '', class: "search form-control ",
                          placeholder: "ciudad...", autocomplete: :off

= smart_listing_render :ocios
