.row#pin_show
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image
        = image_tag @ocio.pic.image.url
      .panel-body
        %h1= @ocio.title
        %p.description
          %h3
            %strong= @ocio.cat
          = @ocio.desc
          El
          %strong precio
          es
          %strong= @ocio.price
          euros
          y estará en
          %strong= @ocio.city
          %strong= @ocio.dir
          en la fecha de
          %strong= @ocio.fecha
        %p
          submited by
          %strong= @ocio.user.email
      .panel-footer
        .row
          .col-md-6
            %p.user
              submited by
              %strong= @ocio.user.email
          .col-md-6
            %div{class: "btn-group pull-right ocio_#{@ocio.id}"}
              = render 'ocios/like', ocio: @ocio

= render partial: 'comments/comments' , locals: { commentable: @ocio }
= render partial: 'comments/form' , locals: { commentable: @ocio }
