.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h1= link_to "Transportes" , transports_path , class: "btn btn-primary btn-block btn-lg "
      - if @transports.any?
        - @transports.limit(2).each do |transport|
          .panel-body
            =link_to (image_tag transport.pic.image.url(:medium) , class: "img-rounded img-responsive") , transport
            %h2= link_to transport.title , transport
      - else
        %h4 Aún no hay nada de transportes!
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h1= link_to "Ocios" , ocios_path , class: "btn btn-primary btn-block btn-lg"
      - if @ocios.any?
        - @ocios.limit(2).each do |ocio|
          .panel-body
            = link_to (image_tag ocio.pic.image.url(:medium) , class: "img-rounded img-responsive") , ocio
            %h2= link_to ocio.title , ocio
      - else
        %h4 Aún no hay nada de ocios!
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h1= link_to "Alojamientos" , alojamientos_path , class: "btn btn-primary btn-block btn-lg"
      - if @alojamientos.any?
        - @alojamientos.limit(2).each do |alojamiento|
          .panel-body
            = link_to (image_tag alojamiento.pic.image.url(:medium), class: "img-rounded img-responsive") , alojamiento
            %h2= link_to alojamiento.title , alojamiento
      - else
        %h4 Aún no hay nada de alojamientos!
