!!! 5
%html
%head
  %title Board
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
  = javascript_include_tag 'application', 'data-turbolinks-track' => false
  = csrf_meta_tags
%body
  %nav.navbar.navbar-inverse
    .container
      .navbar-brand= link_to "Pin Board" , root_path
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "New Transport" , new_transport_path
          %li= link_to "New Ocio" , new_ocio_path
          %li= link_to "New Alojamiento" , new_alojamiento_path
          %li
            = link_to  edit_user_registration_path do
              %span.glyphicon.glyphicon-user
                = current_user.email
          %li
            = link_to  destroy_user_session_path , method: :delete do
              %span.glyphicon.glyphicon-log-in
                Salir
      -else
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Entrar" , new_user_session_path
          %li= link_to "Registrar" , new_user_registration_path
  .container
    - flash.each do |name , msg|
      = content_tag :div , msg , class: "alert alert-info"

    = yield
